
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.header{
    text-align: center;
    background-color:skyblue;
    color:black;
     font-family:cursive;
     padding-top: 2rem;
}
.back-img{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(57, 57, 207)),url(wp9031308.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.back-img h1{
    text-align: center;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 20px;
}
.back-img img{
    float: right;
    height: 400px;
}
.back-img ul{
    text-align:center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color:aliceblue;
    font-size: 20px;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 500px;
}
